@import url('vars.css');

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    transition: background-color 0.2s;
}

body {
    margin: 0;
    font-family: 'CookieRun-Regular';
    text-align: center;
    background-color: var(--body-bg);
    color: var(--font-color);
}

header {
    padding: 2px 10px 12px 10px;
    background-color: var(--header-bg);
}

section {
    padding: 20px;
}

article {
    vertical-align: top;
    margin: 0 0 20px 0;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: var(--article-bg);
}
article.inline {
    display: inline-block;
}

footer {
    padding: 20px;
    background-color: var(--header-bg);
}

a {
    transition: color 0.2s;
    text-decoration: none;
    color: var(--font-color);
}
a:visited {
    color: var(--font-color);
}
a:hover {
    color: var(--a-hover);
}

span {
    display: block;
    font-size: small;
    color: var(--span-color);
}

img {
    transition: transform 0.5s;
}
img:hover {
    transform: scale(1.2);
}

input {
    color: var(--font-color);
    border-radius: 10px;
    background-color: var(--article-bg);
    box-shadow: 0 0 5px var(--article-bg);
}